.page-container {
  background-color: #121212; /* Deep black background */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #acacac ; /* Deep teal for contrast */
  color: white;
  min-height: 100vh;
}

.title-chart {
  font-size: 2.5rem;
  margin-bottom: 75px;
  margin-top: 100px;
  color: #ecf0f1 ; /* Off-white title for better readability */
}

.digital-monitoring {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
  background-color: #0a071d ; /* Slightly lighter teal for subtle layering */
  padding: 20px;
  border-radius: 10px;
}

.monitoring-item {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5f5f5;
}

.digital-value {
  font-size: 1.5rem;
  background-color: #b83a00 ; /* Vibrant orange for digital values */
  color: white; /* White text for good contrast */
  padding: 5px 15px;
  border-radius: 8px;
  margin-left: 10px;
}

.plot-wrapper {
  position: relative;
  width: 100%;
  max-width: 1050px;
  min-width: 1050px;
  padding: 20px;
  border-radius: 10px;
  background-color: #0a071d; /* Dark background to complement teal */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.date-picker-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background-color: #0a071d; /* Transparent overlay with dark teal tone */
  padding: 10px 15px;
  
  
}

.date-picker-overlay label {
  color: #d8d8d8; /* Light color for label text */
  font-weight: bold;
  margin-right: 8px;
}

.date-picker-overlay input {
  vertical-align: center;
  background-color: #0a071d; /* Dark input field */
  border: 2px solid #ffffff; /* Border to match the teal theme */
  color: #c5c5c5;
  border-radius: 50px;
  padding: 5px 10px;
  outline: none;
  
}
